.divider {
  color: $booking-color-gray-200;
  margin: 0 .8rem;
}

.new-badge {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.5rem;
  background-color: $booking-color-red-400;
  border: 1px solid;
  color: $booking-color-white;
  border-radius: 50%;
  text-align: center;
  font-size: .5rem;
  position: absolute;
  right: -14px;
  top: 10px;
}

.inner {
  position: relative;
  width: 120rem;
  margin-right: auto;
  margin-left: auto;
}

.common__headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  .title {
    font-family: Gmarket Sans,'Gmarket Sans',sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }

  .show-all {
    display: block;
    position: relative;
    color: $booking-color-gray-700;
    line-height: 1.8rem;
    z-index: 10;
    padding-right: 2.2rem;

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      @include sprite-img(0 -44px);
      width: 1.8rem;
      height: 1.8rem;
      margin-left: 1rem;
    }
  }
}

.show {
	display: block !important;
	opacity: 1 !important;
	transition: all 1000 ease-in;
}

