.divider {
  color: $booking-color-gray-200;
  margin: 0 .8rem;
}

.new-badge {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.5rem;
  background-color: $booking-color-red-400;
  border: 1px solid;
  color: $booking-color-white;
  border-radius: 50%;
  text-align: center;
  font-size: .5rem;
  position: absolute;
  right: -14px;
  top: 10px;
}